<a href="https://colab.research.google.com/github/andreggalvao/Challenge-Data-Science-1ed/blob/main/Challenge_dados_semana2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [125]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [126]:
LINK = 'https://raw.githubusercontent.com/andreggalvao/Challenge-Data-Science-1ed/main/Dados/dados_juntos_ANDRE.csv'
dados = pd.read_csv(LINK, sep = ',')
dados.head()

,person_id,loan_id,cb_id,person_id.1,person_age,person_income,person_home_ownership,person_emp_length,loan_id.1,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_id.1,cb_person_default_on_file,cb_person_cred_hist_length
0,YIHuehGl-eWpc,IHcxHFyD-ddZE,CRO9thKh-NYDn,YIHuehGl-eWpc,29.0,175000.0,Mortgage,2.0,IHcxHFyD-ddZE,Homeimprovement,A,10000.0,NaN,0.0,0.06,CRO9thKh-NYDn,N,9.0
1,LmwskARR-HyA3,0YpSbTgj-CZKT,j3jnnG3T-iF3N,LmwskARR-HyA3,21.0,41900.0,Rent,2.0,0YpSbTgj-CZKT,Venture,C,16000.0,12.84,1.0,0.38,j3jnnG3T-iF3N,Y,2.0
2,bRYeof0L-cqHI,0T2YFLWb-IZze,0Y1a64ag-4RLW,bRYeof0L-cqHI,30.0,100000.0,Rent,13.0,0T2YFLWb-IZze,Debtconsolidation,A,12000.0,7.88,0.0,0.12,0Y1a64ag-4RLW,N,9.0
3,F9a6bBd9-Xe2o,8HuvzhAq-k7Xi,L42AQtMx-SEGR,F9a6bBd9-Xe2o,27.0,68000.0,Rent,4.0,8HuvzhAq-k7Xi,Homeimprovement,A,8700.0,7.88,0.0,0.13,L42AQtMx-SEGR,N,5.0
4,hBn6Nj78-fvgu,w1JRom7y-y1od,2SebLJsQ-lj5F,hBn6Nj78-fvgu,26.0,31200.0,Rent,8.0,w1JRom7y-y1od,Personal,A,5000.0,8.63,0.0,0.16,2SebLJsQ-lj5F,N,2.0

In [127]:
dados.drop(columns = ['person_id.1', 'loan_id.1', 'cb_id.1'], inplace = True)
dados.rename(columns = {'person_id': 'id_pessoa',
                        'loan_id': 'id_emprestimo',
                        'cb_id': 'id_historico',
                        'person_age' : 'idade',
                        'person_income' : 'renda',
                        'person_home_ownership' : 'imovel',
                        'person_emp_length' : 'tempo_trabalhado',
                        'loan_intent': 'motivo_emprestimo',
                        'loan_grade' : 'nota_emprestimo',
                        'loan_amnt' : 'total_emprestado',
                        'loan_int_rate' : 'taxa_juros',
                        'loan_status' : 'inadimplencia',
                        'loan_percent_income' : 'renda_alocada',
                        'cb_person_default_on_file' : 'devedora',
                        'cb_person_cred_hist_length' : 'relacionamento_bancario'
                        }, inplace = True)



dados.head()

,id_pessoa,id_emprestimo,id_historico,idade,renda,imovel,tempo_trabalhado,motivo_emprestimo,nota_emprestimo,total_emprestado,taxa_juros,inadimplencia,renda_alocada,devedora,relacionamento_bancario
0,YIHuehGl-eWpc,IHcxHFyD-ddZE,CRO9thKh-NYDn,29.0,175000.0,Mortgage,2.0,Homeimprovement,A,10000.0,NaN,0.0,0.06,N,9.0
1,LmwskARR-HyA3,0YpSbTgj-CZKT,j3jnnG3T-iF3N,21.0,41900.0,Rent,2.0,Venture,C,16000.0,12.84,1.0,0.38,Y,2.0
2,bRYeof0L-cqHI,0T2YFLWb-IZze,0Y1a64ag-4RLW,30.0,100000.0,Rent,13.0,Debtconsolidation,A,12000.0,7.88,0.0,0.12,N,9.0
3,F9a6bBd9-Xe2o,8HuvzhAq-k7Xi,L42AQtMx-SEGR,27.0,68000.0,Rent,4.0,Homeimprovement,A,8700.0,7.88,0.0,0.13,N,5.0
4,hBn6Nj78-fvgu,w1JRom7y-y1od,2SebLJsQ-lj5F,26.0,31200.0,Rent,8.0,Personal,A,5000.0,8.63,0.0,0.16,N,2.0

In [128]:
dados.imovel.value_counts()

Rent        17243
Mortgage    14100
Own          2717
Other         110
Name: imovel, dtype: int64

In [129]:
dados.replace({'Rent' : 'Alugado',
               'Mortgage' : 'Financiado',
               'Own' : 'Propria',
               'Other' : 'Outro'},
               inplace = True)
dados.head()

,id_pessoa,id_emprestimo,id_historico,idade,renda,imovel,tempo_trabalhado,motivo_emprestimo,nota_emprestimo,total_emprestado,taxa_juros,inadimplencia,renda_alocada,devedora,relacionamento_bancario
0,YIHuehGl-eWpc,IHcxHFyD-ddZE,CRO9thKh-NYDn,29.0,175000.0,Financiado,2.0,Homeimprovement,A,10000.0,NaN,0.0,0.06,N,9.0
1,LmwskARR-HyA3,0YpSbTgj-CZKT,j3jnnG3T-iF3N,21.0,41900.0,Alugado,2.0,Venture,C,16000.0,12.84,1.0,0.38,Y,2.0
2,bRYeof0L-cqHI,0T2YFLWb-IZze,0Y1a64ag-4RLW,30.0,100000.0,Alugado,13.0,Debtconsolidation,A,12000.0,7.88,0.0,0.12,N,9.0
3,F9a6bBd9-Xe2o,8HuvzhAq-k7Xi,L42AQtMx-SEGR,27.0,68000.0,Alugado,4.0,Homeimprovement,A,8700.0,7.88,0.0,0.13,N,5.0
4,hBn6Nj78-fvgu,w1JRom7y-y1od,2SebLJsQ-lj5F,26.0,31200.0,Alugado,8.0,Personal,A,5000.0,8.63,0.0,0.16,N,2.0

In [130]:
dados.motivo_emprestimo.value_counts()

dados.replace({'Education' : 'Educacao',
               'Medical' : 'Medico',
               'Venture' : 'Empreendimento',
               'Personal' : 'Pessoal',
               'Debtconsolidation' : 'Dividas',
               'Homeimprovement' : 'Reforma'},
               inplace = True)

dados.head()

,id_pessoa,id_emprestimo,id_historico,idade,renda,imovel,tempo_trabalhado,motivo_emprestimo,nota_emprestimo,total_emprestado,taxa_juros,inadimplencia,renda_alocada,devedora,relacionamento_bancario
0,YIHuehGl-eWpc,IHcxHFyD-ddZE,CRO9thKh-NYDn,29.0,175000.0,Financiado,2.0,Reforma,A,10000.0,NaN,0.0,0.06,N,9.0
1,LmwskARR-HyA3,0YpSbTgj-CZKT,j3jnnG3T-iF3N,21.0,41900.0,Alugado,2.0,Empreendimento,C,16000.0,12.84,1.0,0.38,Y,2.0
2,bRYeof0L-cqHI,0T2YFLWb-IZze,0Y1a64ag-4RLW,30.0,100000.0,Alugado,13.0,Dividas,A,12000.0,7.88,0.0,0.12,N,9.0
3,F9a6bBd9-Xe2o,8HuvzhAq-k7Xi,L42AQtMx-SEGR,27.0,68000.0,Alugado,4.0,Reforma,A,8700.0,7.88,0.0,0.13,N,5.0
4,hBn6Nj78-fvgu,w1JRom7y-y1od,2SebLJsQ-lj5F,26.0,31200.0,Alugado,8.0,Pessoal,A,5000.0,8.63,0.0,0.16,N,2.0

In [131]:
#print("*"*30, "HEAD", "*"*30)
#display(dados.head(5))
print("*"*30, "SHAPE", "*"*30)
print(f"Rows: {dados.shape[0]}\nColumns: {dados.shape[1]}")
print("*"*30, "INFO", "*"*30)
display(dados.info())
print("*"*30, "DESCRIBE", "*"*30)
display(dados.describe().T)
print("*"*30, "NULL?", "*"*30)
display(dados.isnull().sum())
print("*"*30, "DUPLICATED", "*"*30)
display(dados.duplicated().sum())
print("*"*30, "EXPLAINING", "*"*30)

****************************** SHAPE ******************************
Rows: 34501
Columns: 15
****************************** INFO ******************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34501 entries, 0 to 34500
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id_pessoa                34485 non-null  object
 1   id_emprestimo            34501 non-null  object
 2   id_historico             34501 non-null  object
 3   idade                    34177 non-null  float64
 4   renda                    34162 non-null  float64
 5   imovel                   34170 non-null  object
 6   tempo_trabalhado         33247 non-null  float64
 7   motivo_emprestimo        34186 non-null  object
 8   nota_emprestimo          34188 non-null  object
 9   total_emprestado         34170 non-null  float64
 10  taxa_juros               30871 non-null  float64
 11  inadimplencia            34158 non-null  float64
 12  renda_alocada            34182 non-null  float64
 13  devedora                 34131 non-null  object
 14  relacionamento_bancario  34497 non-null  float64
dtypes: float64(8), object(7)
memory usage: 3.9+ MB

None

****************************** DESCRIBE ******************************

,count,mean,std,min,25%,50%,75%,max
idade,34177.0,27.731018,6.345281,20.00,23.00,26.00,30.00,144.00
renda,34162.0,66028.687957,61405.057742,4000.00,38493.00,55000.00,79200.00,6000000.00
tempo_trabalhado,33247.0,4.787229,4.137463,0.00,2.00,4.00,7.00,123.00
total_emprestado,34170.0,9590.576529,6320.429041,500.00,5000.00,8000.00,12200.00,35000.00
taxa_juros,30871.0,11.013630,3.241240,5.42,7.90,10.99,13.47,23.22
inadimplencia,34158.0,0.218192,0.413024,0.00,0.00,0.00,0.00,1.00
renda_alocada,34182.0,0.170227,0.106783,0.00,0.09,0.15,0.23,0.83
relacionamento_bancario,34497.0,5.808186,4.063231,2.00,3.00,4.00,8.00,30.00

****************************** NULL? ******************************

id_pessoa                    16
id_emprestimo                 0
id_historico                  0
idade                       324
renda                       339
imovel                      331
tempo_trabalhado           1254
motivo_emprestimo           315
nota_emprestimo             313
total_emprestado            331
taxa_juros                 3630
inadimplencia               343
renda_alocada               319
devedora                    370
relacionamento_bancario       4
dtype: int64

****************************** DUPLICATED ******************************

0

****************************** EXPLAINING ******************************

In [132]:
# os IDs no me interessam uma vez que no vo me trazer informaes para o meu modelo, todos seram removidos.
dados.drop(columns = ['id_pessoa', 'id_emprestimo', 'id_historico'], inplace = True)

In [133]:
#dupliando o nosso dataset
dados_original = dados.copy()
dados.head()

,idade,renda,imovel,tempo_trabalhado,motivo_emprestimo,nota_emprestimo,total_emprestado,taxa_juros,inadimplencia,renda_alocada,devedora,relacionamento_bancario
0,29.0,175000.0,Financiado,2.0,Reforma,A,10000.0,NaN,0.0,0.06,N,9.0
1,21.0,41900.0,Alugado,2.0,Empreendimento,C,16000.0,12.84,1.0,0.38,Y,2.0
2,30.0,100000.0,Alugado,13.0,Dividas,A,12000.0,7.88,0.0,0.12,N,9.0
3,27.0,68000.0,Alugado,4.0,Reforma,A,8700.0,7.88,0.0,0.13,N,5.0
4,26.0,31200.0,Alugado,8.0,Pessoal,A,5000.0,8.63,0.0,0.16,N,2.0

In [134]:
dados[dados.imovel.isna()]

,idade,renda,imovel,tempo_trabalhado,motivo_emprestimo,nota_emprestimo,total_emprestado,taxa_juros,inadimplencia,renda_alocada,devedora,relacionamento_bancario
284,24.0,74800.0,NaN,4.0,Medico,E,7200.0,17.58,0.0,0.11,Y,4.0
300,33.0,116000.0,NaN,2.0,Reforma,C,2000.0,NaN,0.0,0.05,N,3.0
301,23.0,33000.0,NaN,3.0,Pessoal,D,6000.0,NaN,0.0,0.20,N,7.0
416,31.0,NaN,NaN,11.0,Empreendimento,A,2000.0,12.42,0.0,0.12,N,3.0
421,24.0,NaN,NaN,8.0,Pessoal,B,8000.0,NaN,0.0,0.28,Y,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...
33910,35.0,51000.0,NaN,5.0,NaN,C,12000.0,12.84,0.0,0.11,N,3.0
33964,30.0,62256.0,NaN,1.0,Reforma,D,25000.0,15.33,1.0,NaN,N,2.0
34045,NaN,30000.0,NaN,3.0,Pessoal,B,10400.0,9.91,0.0,0.09,N,6.0
34150,25.0,16000.0,NaN,0.0,NaN,A,6200.0,13.79,0.0,0.16,N,2.0
34421,31.0,200000.0,NaN,NaN,Empreendimento,A,5000.0,NaN,0.0,0.04,N,5.0

In [135]:
dados_original

,idade,renda,imovel,tempo_trabalhado,motivo_emprestimo,nota_emprestimo,total_emprestado,taxa_juros,inadimplencia,renda_alocada,devedora,relacionamento_bancario
0,29.0,175000.0,Financiado,2.0,Reforma,A,10000.0,NaN,0.0,0.06,N,9.0
1,21.0,41900.0,Alugado,2.0,Empreendimento,C,16000.0,12.84,1.0,0.38,Y,2.0
2,30.0,100000.0,Alugado,13.0,Dividas,A,12000.0,7.88,0.0,0.12,N,9.0
3,27.0,68000.0,Alugado,4.0,Reforma,A,8700.0,7.88,0.0,0.13,N,5.0
4,26.0,31200.0,Alugado,8.0,Pessoal,A,5000.0,8.63,0.0,0.16,N,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
34496,27.0,47000.0,Alugado,11.0,Medico,B,1300.0,10.46,0.0,0.03,N,8.0
34497,70.0,30000.0,Alugado,0.0,Dividas,D,1000.0,17.49,1.0,0.03,Y,21.0
34498,24.0,44000.0,Propria,9.0,Empreendimento,C,6000.0,15.96,0.0,0.14,Y,4.0
34499,23.0,65000.0,Alugado,7.0,Medico,B,3600.0,10.59,0.0,0.06,N,3.0
34500,23.0,70236.0,Financiado,7.0,Educacao,C,8700.0,13.47,0.0,0.12,Y,4.0

In [136]:
dados[['renda', 'total_emprestado', 'renda_alocada']].isnull().sum()

renda               339
total_emprestado    331
renda_alocada       319
dtype: int64

In [137]:
## Sobre emprstimos
# O percentual de renda alocada (renda_alocada) = renda / total_emprestado
# Com isso podemos reverter algumas linhas nulas

In [138]:
dados[dados.renda.isnull()]

,idade,renda,imovel,tempo_trabalhado,motivo_emprestimo,nota_emprestimo,total_emprestado,taxa_juros,inadimplencia,renda_alocada,devedora,relacionamento_bancario
176,21.0,NaN,Alugado,1.0,NaN,A,25000.0,16.07,0.0,0.19,Y,3.0
265,32.0,NaN,Alugado,NaN,Medico,A,12000.0,14.54,0.0,0.27,N,2.0
309,24.0,NaN,Alugado,0.0,Empreendimento,D,NaN,17.99,1.0,0.16,N,15.0
332,27.0,NaN,Propria,11.0,Reforma,NaN,9250.0,17.19,0.0,0.29,N,4.0
350,21.0,NaN,Alugado,5.0,NaN,A,9250.0,15.21,1.0,0.13,N,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...
34003,24.0,NaN,Alugado,5.0,Medico,NaN,4750.0,14.59,1.0,0.33,Y,8.0
34047,30.0,NaN,Alugado,1.0,Medico,A,NaN,10.99,0.0,0.09,N,9.0
34186,46.0,NaN,Financiado,1.0,Medico,A,NaN,11.36,0.0,0.08,N,3.0
34217,27.0,NaN,Alugado,4.0,Pessoal,B,6500.0,9.99,NaN,0.25,N,4.0
34493,22.0,NaN,Alugado,6.0,Pessoal,C,NaN,12.73,0.0,0.40,Y,5.0

In [140]:
dados.imovel.value_counts()

Alugado       17243
Financiado    14100
Propria        2717
Outro           110
Name: imovel, dtype: int64

Educacao          6774
Medico            6380
Empreendimento    5977
Pessoal           5782
Dividas           5476
Reforma           3797
Name: motivo_emprestimo, dtype: int64
315

In [147]:
values = {'imovel': 'Outro', }
dados.fillna(value=values, inplace = True)

In [150]:
dados.isna().sum()

idade                       324
renda                       339
imovel                        0
tempo_trabalhado           1254
motivo_emprestimo           315
nota_emprestimo             313
total_emprestado            331
taxa_juros                 3630
inadimplencia               343
renda_alocada               319
devedora                    370
relacionamento_bancario       4
dtype: int64